th {
  text-transform: uppercase;
  font-size: 11px;
  white-space: nowrap;
}
td.custom-td-select select {
  font-size: 11px;
  padding: 0.1rem 1.3rem 0.1rem 0.3rem;
  min-width: 70px !important;
  max-width: 900px !important;
}
td.action a {
  display: inline-block;
  font-size: 16px;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  cursor: pointer;
}
